@font-face {
    font-family: 'vonder';
    font-style: 'normal';
    src: url('./assets/Vonder.ttf');
}
/* Home Page landing Section */
.hp-main {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/chapel.jpeg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center top;
    background-size:cover;
}
.link-wrapper {
    padding-top: 150px;
}
.enter-link {
    text-decoration: none;
    color: seashell;
    font-size: 125px;
    font-family: 'vonder';
}
.enter-link:hover {
    color: slategray;
}
/* About Chapel Section */
#about {
    height: 100vh;
    background-color: #708090;
    color: seashell;
}
.chapel-title {
    font-family: 'vonder';
    font-size: 75px;
    padding-top: 15px;
    border-bottom: 2px seashell solid;
}
.chapel-grounds-img {
    max-width: 90vw;
    border-radius: 2%;
}
.chapel-desc {
    font-family: 'merriweather';
    font-size: 29px;
    max-width: 700px;
    padding: 10px;
}
.chapel-quote {
    font-family: 'vonder';
    font-size: 30px;
}
.arrow {
    display: none;
}
.interior-link-div {
    font-size: 35px;
}
.chapel-interior-link {
    text-decoration: none;
    font-family: 'vonder';
    font-size: 45px;
    color: seashell;
}
.chapel-interior-link:hover {
    color: silver;
}
@media screen and (min-width: 500px) {
    .chapel-grounds-img {
        max-width: 60vw;
        margin-right: 10px;
    }
    .chapel-interior-link {
        font-size: 50px;
    }
}

@media screen and (min-width:900px) {
    .chapel-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 50px;
    }
    .enter-link {
        font-size: 175px;
    }
    .chapel-desc {
        max-width: 700px;
        padding: 40px;
        padding-top: 100px;
    }
    .chapel-grounds-img {
        max-width: 49vw;
    }
    .chapel-interior-link {
        font-size: 60px;
    }
    .arrow {
        display: inline;
    }
}
/* About Chapel Continued */
#chapel-interior {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 5px solid seashell;
}
.interior-title {
    font-family: 'vonder';
    font-size: 40px;
    margin-bottom: 20px;
}
.interior-title-2 {
    margin-top: 15px;
}
.interior-div-1 {
    background-color: silver;
    flex-basis: 50%;
    color: slategray;
    font-size: 20px;
    padding: 5px;
}
.interior-div-2 {
    background-color: rgb(159, 156, 156);
    flex-basis: 50%;
    color: seashell;
    font-size: 20px;
    padding: 5px;
}
.the-chapel-hp {
    color: seashell
}
.chapel-list {
    list-style: none;
    border-left: 1px solid slategray;
    margin-top: 15px;
    padding-left: 3px;
    font-family: 'merriweather';
}
.chapel-list-2 {
    list-style: none;
    border-left: 1px solid seashell;
    margin-top: 15px;
    padding-left: 3px;
    font-family: 'merriweather';
}
.booking-anchor {
    font-family: 'vonder';
    color: slategray;
    text-decoration: none;
    font-size: 50px;
}
.booking-anchor:hover {
    color: seashell;
}

@media screen and (min-width: 500px) {
    #chapel-interior {
        height: 100vh;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .interior-title {
        font-size: 35px;
    }
}

@media screen and (min-width: 900px) {
    .interior-title  {
        font-size: 60px;
    }
    .interior-title-2  {
        margin-top: 4%;
        margin-bottom: 65px;
    }
    .chapel-list, .chapel-list-2 {
        font-size: 25px;
    }
    .booking-anchor {
        font-size: 70px;
    }

}
/* Link to Booking Portal Section */
#booking-link-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./assets/chapel-at-night.jpeg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.booking-link-wrapper {
    padding-top: 200px;
}
.booking-link {
    text-decoration: none;
    color: seashell;
    font-size: 100px;
    font-family: 'vonder';
}
.booking-link:hover{
    color: slategray;
}
@media screen and (max-width: 412px) {
    .booking-link-wrapper {
        padding-top: 120px;
    }
    .chapel-desc {
        font-size: 25px;
    }
}
@media screen and (max-width: 380px) {
    .booking-link-wrapper {
        padding-top: 150px;
    }
    .booking-link {
        font-size: 80px;
    }
    .link-wrapper {
        padding-top: 70px;
    }
    .chapel-desc {
        font-size: 20px;
    }
}
@media screen and (max-width: 370px) {
    .booking-link-wrapper {
        padding-top: 175px;
    }
}
@media screen and (min-width: 900px) {
    .booking-link-wrapper {
        padding-top: 100px;
    }
    .booking-link {
        font-size: 160px;
    }
}
/* Footer Section */
.footer {
    background-color: slategray;
    color: seashell;
    font-family: 'merriweather';
    display: flex;
    border-top: 1px solid silver;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    gap: 15px;
}
.chapel-contact {
    font-family: 'vonder';
    font-size: 35px;
    border-bottom: 1px solid silver;
}
.contact-info {
    padding: 10px;
    flex-basis: 60%;
    border: 1px solid silver;
    margin-left: 50px;
}
.socials {
    display: flex;
    gap: 5px;
    padding: 5px;
    flex-direction: column;
    margin-top: 14%;
}
.owner-portal {
    text-decoration: none;
    color: silver;
    flex-basis: 100%;
}
.owner-portal:hover {
    color: seashell;
}

@media screen and (min-width: 500px){
    .contact-info {
        font-size: 20px;
        padding-top: 20px;
    }
    .socials {
        margin-top: 8%;
    }
}

@media screen and (min-width: 900px) {
    .contact-info {
        flex-basis: 50%;
    }
    .socials {
        margin-top: 2.5%;
    }
}